# Android Q property types; do not use post-Q vendor property macros here.
type mtk_powerhal_prop, property_type;
type mtk_netdagent_prop, property_type;
