<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="local.k50.graphicsprobe"
    android:versionCode="2"
    android:versionName="1.1">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="29" />
    <application
        android:allowBackup="false"
        android:debuggable="false"
        android:extractNativeLibs="true"
        android:label="K50 Graphics Probe (32-bit)"
        android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen">
        <activity
            android:name=".GraphicsProbeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
