<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="local.k50.cameraprobe">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="29" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application android:label="K50 camera stream probe" android:allowBackup="false">
        <activity android:name=".CameraProbeActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
